div.komanda {
    position: relative;
    top: 10px;
    left: 550px;
}
.naujienos {
    position: relative;
    top: 20px;
    left: 20px;
}
.data {
    position: relative;
    top: 30px;
    left: 570px;
}
.nuotrauka {
    position: relative;
    top: 40px;
    left: 475px;
}
.nuotrauka1 {
    position: relative;
    top:10px;
    left: 475px;
}

.reitingai {
    position: relative;
    margin: 30px;
    top: 40px;
    left: 10px;
}
.button {
    position: relative;
    top: 30px;
    left: 10px;
}
.dropdown {
    position: relative;
    top: 40px;
    display: inline-block;
    padding: 15px;
}
.meniu {
    margin: 1px;
}

.dropdown-content a:hover {
    background-color: blueviolet;
}
.dropdown:hover.dropdown-content {
    display: block;
}
.dropdown:hover.meniu {
    background-color: coral;
}
.progresas1 {
    position: relative;
    top: 30px;
    left: 150px;
}
.progresas2{
    position: relative;
    top: 30px;
    left: 150px;
}
.progresas3 {
    position: relative;
    top: 30px;
    left: 150px;
}