.komandaA {
    position: relative;
    top: 10px;
    left: 550px;
}
.data {
    position: relative;
    top: 30px;
    left: 570px;
}
.nuotrauka {
    position: relative;
    top: 40px;
    left: 150px;
}
.reitingai {
    position: relative;
    top: 30px;
    left: 500px;
}